li a {
    color: green;
}
color1 {
    color: #65768C;
    color: #77C3F2;
    color: #B3DAF2;
    color: #6BF2F2;
    color: #A1A67C;
}

body {
    background: #77C3F2;
    background-size: cover;
}