{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Marvin JS</title>

        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'marvinjs/gui/css/editor.min.css' %}" media="screen" />
        <link type="text/css" rel="stylesheet" href="{% static 'marvinjs/js/lib/rainbow/github.css' %}" media="screen" />  
        <!-- from editorws.html -->
        <script src="{% static 'marvinjs/gui/lib/promise-1.0.0.min.js' %}"></script>
        <script src="{% static 'marvinjs/js/marvinjslauncher.js' %}"></script>
        <script src="{% static 'marvinjs/gui/gui.nocache.js' %}"></script>

        
        <script src="{% static 'marvinjs/js/lib/rainbow/rainbow-custom.min.js' %}"></script>

        <!-- Editor -->
        <script src="{% static 'marvinjs/js/lib/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'marvinjs/js/webservices.js' %}"></script>
        <script src="{% static 'marvinjs/js/util.js' %}"></script>

    </head>
    
    <body class="mjs-body">
        <noscript>
            <div>
                <p>Your web browser must have JavaScript enabled in order for this
                    application to display correctly.</p>
            </div>
        </noscript>
            <div id="sketch" class="sketcher-frame"></div>
    </body>
{% endblock %}